In [2]:
import os
import psycopg2

# Replace the next line with Your Neon connection string.
connection_string = "postgres://<user>:<password>@<hostname>/neondb"

# Connect using the connection string
connection = psycopg2.connect(connection_string)

# Create a new cursor object
cursor = connection.cursor()

In [3]:
# Execute this query to test the database connection
cursor.execute("SELECT 1;")
result = cursor.fetchone()

# Check the query result
if result == (1,):
    print("Your database connection was successful!")
else:
    print("Your connection failed.")

Your database connection was successful!

In [4]:
# Execute this query to install the pgvector extension
cursor.execute("CREATE EXTENSION IF NOT EXISTS vector;")

In [5]:
create_table_sql = '''
CREATE TABLE items (
  id BIGSERIAL PRIMARY KEY,
  embedding VECTOR(3)
);
'''

# Insert data
insert_data_sql = '''
INSERT INTO items (embedding) VALUES ('[1,2,3]'), ('[4,5,6]'), ('[7,8,9]');
'''

# Execute the SQL statements
cursor.execute(create_table_sql)
cursor.execute(insert_data_sql)

# Commit the changes
connection.commit()

In [6]:
cursor.execute("SELECT * FROM items ORDER BY embedding <-> '[3,1,2]' LIMIT 3;")
all_data = cursor.fetchall()
print(all_data)

[(1, '[1,2,3]'), (2, '[4,5,6]'), (3, '[7,8,9]')]